# Python
.venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Node
node_modules/
.next/
out/
build/
dist/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
Thumbs.db

# Project specific
uploaded_videos/
backend/uploaded_videos/
backend/weights/*.pt
backend/weights/*.onnx
.vscode/
